/* файл общих стилей */
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light'), local('Roboto-Light'),
    url('/fonts/Roboto-Light.ttf') format('truetype'),
    url('/fonts/Roboto-Light.woff2') format('woff2'),
    url('/fonts/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Regular'), local('Roboto-Regular'),
    url('/fonts/Roboto-Regular.ttf') format('truetype'),
    url('/fonts/Roboto-Regular.woff2') format('woff2'),
    url('/fonts/Roboto-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold'), local('Roboto-Bold'),
    url('/fonts/Roboto-Bold.ttf') format('truetype'),
    url('/fonts/Roboto-Bold.woff2') format('woff2'),
    url('/fonts/Roboto-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}



html, body, header, div, span, footer, font, img, form, article,
h1, h2, h3, h4, h5, h6, p, a, ol, ul, li, time, figure {
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
	background: white;
	line-height: 1.5;
    color: #263849;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

a{
    text-decoration: none;
    color: #ffffff;
}

form{
    margin: 0 auto;
    max-width: 300px;
}

label, input {
    display: flex;
    font-size: 20px;
}
label{
    margin: 25px auto;
    width: fit-content;
}

input{
    margin: 25px 0;
    max-width: 100%;
    width: 292px;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

textarea{
	font-family: 'Roboto', sans-serif;
}

select{
    margin: 25px 0;
    max-width: 100%;
    width: 292px;
    outline: none;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

option{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}