body{
    background-color: #d5eaeb;
    position: relative;
}

#dashboard-container{
    max-width: 100%;
    max-height: 100%;
}

header{
    position: fixed;
    top: 0px;
    max-height: 40px;
    min-height: 40px;
    height: 40px;
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    background-color: #ada;
    border-bottom: 1px solid #353;
}

#header-menu{
    width: inherit;
    height: inherit;
    position: relative;
    display: inline-flex;
    justify-content: space-between;
}

#user-profile{
    width: min-content;
    height: min-content;
    margin: 5px;
    display: inline-flex;
}

#user-image{
    max-width: 30px;
    min-width: 30px;
}

#user-activity{
    display: inline-flex;
    height: min-content;
    margin: 9px;
}

#activity-title{
    max-height: min-content;
    min-height: min-content;
    height: min-content;
}

#additionally-tasks{
    display: inline-flex;
    height: min-content;
    margin: 9px;
}

#additionally-title{
    max-height: min-content;
    min-height: min-content;
    height: min-content;
}

#dashboard-main{
    display: flex;
    flex-wrap: wrap;
    
    margin-top: 40px;
    white-space: nowrap;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.wrapper{
    flex: auto;
    margin: 0.28%;
    min-height: 100%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    width: 13%;
}

#bord-day{
    background-color: #ebecf0;
    border-radius: 3px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    position: relative;
    white-space: normal;
}

#bord-day:first-child{
    margin-left: 5px;
}

#bord-day:last-child{
    margin-right: 5px;
}

#bord-day-title{
    flex: 0 0 auto;
    padding: 10px 8px;
    position: relative;
    min-height: 20px;
}

.day-title{
    font-weight: 600;
    margin: 0 0 8px;
    font-size: 15px;
    line-height: 24px;
}

.list-tasks{
    flex: 1 1 auto;
    margin-bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 4px;
    padding: 0 4px;
    z-index: 1;
    min-height: 0;
}

.list-task{
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgb(9 30 66 / 25%);
    cursor: pointer;
    display: block;
    margin-bottom: 8px;
    min-height: 20px;
    position: relative;
    text-decoration: none;
    z-index: 0;
    color: #172b4d;
}

.list-task-details{
    overflow: hidden;
    padding: 6px 8px 2px;
    position: relative;
    z-index: 10;
}

.list-task-label{
    overflow: auto;
    position: relative;
}

/* * стиль по которому будут искаться все открытие окна */
.open-window{
    display: block;
}

@media(max-width: 2500px){
    .wrapper{
        margin: 0.25%;
    }
}

@media(max-width: 1800px){
    .wrapper{
        width: 20%;
    }
}

@media(max-width: 1100px){
    .wrapper{
        width: 25%;
        margin: 0.5%;
    }
}

@media(max-width: 850px){
    .wrapper{
        width: 33%;
    }
}

@media(max-width: 550px){
    .wrapper{
        width: 50%;
        margin: 1%;
    }
}