body{
    background-color: #ccdef0;
}

h2{
    font-size: 15px;
}

.container{
    display: flex;
    flex: 1 0 auto;
}

.header{
    display:inline-block;
    max-width: 20%;
    height: 100%;
    padding: 15px;
    flex: 0 0 20%;
    min-height: 100vh;
    background-color:#C3DAF0;
}

.menu-burger__header span, .menu-burger__header:after, .menu-burger__header:before{
    height: 3px;
    width: 100%;
    position: absolute;
    background: #00ACEA;
    margin: 0 auto;
    transition: all 0.5s ease;
}
.menu-burger__header span{
    background: #00EFD1;
    top: 9px;
}
.menu-burger__header:after, .menu-burger__header:before{
    content: '';
}
.menu-burger__header:after{
    bottom: 0;
}
.menu-burger__header{
    display: none;
}

.menu-burger__header.open-menu span {
    opacity:0; 
    transition: 0.5s; 
}
.menu-burger__header.open-menu:before {
    transform: rotate(38deg);
    top: 7px;
    transition: 0.4s;
}
.menu-burger__header.open-menu:after {
    transform: rotate(-38deg);
    bottom: 10px;
    transition: 0.4s;
}

.hello{
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

.menu{
    margin: 5px;
    line-height: 2;
    transition: all 0.5s;
}

.menu.open__menu {
    display: block;
}

.menu__element{
    margin: 10px auto;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid transparent;
}

.menu__element__title{
    margin: 10px auto;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
}

.link__element{
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link__img{
    max-width: 28px;
    max-height: 28px;
}

.title__description{
    margin: auto;
    font-size: 20px;
    font-weight: 400;
    color: #C10FB3;
}

.link__description{
    padding-left: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #C10FB3;
}

.menu__element:hover { 
    transition: border linear 1s;
    border-color: #C10FB3;
}

.bottom__menu__element{
    position: absolute;
    bottom: 10px;
    left: 5%;

    max-width: inherit;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
}

.bottom__menu__element:hover { 
    transition: border linear 1s;
    border-color: #C10FB3;
}

.link__add__element{
    height: min-content;
    display: flex;
    align-items: center;
}

.img__add__element{
    width: 21px;
}

.link__add__element.big{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.img__add__element.big{
    width: 30px;
}

.block__tasks {
    margin-bottom: 5px;
}

.search__block {
    height: fit-content;
    margin: 15px auto;
    text-align: center;
}

.picker {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.date__picker {
    width: fit-content;
    margin: 5px 0;
}

.search_image{
    display: none;
}

.search {
    height: min-content;
    display: flex;
    align-items: center;
}

.img__search{
    width: 25px;
}

.search__title {
    margin: auto;
    font-size: 16px;
    font-weight: 400;
    color: #C10FB3;
}

.bord{
    display:inline-block;
    height: 100%;
    width: 100%;
    margin: 0 15px;
    position: relative;
}

.title__bord{
    padding: 15px;
}

.inbox, .upcoming, .request_search{
    display: none;
}

.bord__tasks{
    width: 100%;
}

.bord__list{
    width: 100%;
}

li{
    list-style-type: none;
    margin-bottom: 10px;
}

.task{
    height: fit-content;
    background: #C3DAF0;
    margin: 0 15px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.expired{
    background: #dec3f0;
}

.row{
    max-width: inherit;
    width: 100%;
    display: flex;
    vertical-align: middle;
}

.task__ready{
    align-self: center;
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.task__more{
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.link__element__img{
    width: 28px;
    height: 28px;
}

.task__wrapper{
    display: flex;
    align-items: center;
    max-width: 100%;
    width: 100%;
    justify-content: space-between;
}

.link__task{
    display: inline-block;
    margin: 0 20px;
    font-size: 16px;
    font-weight: 400;
    color: #263849;
    max-width: 100%;
}

.task__title{
    display: flex;
    align-items: center;
    max-width: 100%;
}

.task__description{
    font-size: 14px;
    max-width: 150px;
}

.task__time{
    position: absolute;
    right: 150px;
    font-weight: 300;
    font-size: 16px;
}

.task__empty{
    max-width: fit-content;
    width: 100%;
    background: #C3DAF0;
    align-items: center;
    margin: 60px auto;
    align-content: center;
    text-align: center;
}

.task__empty__title{
    font-size: 20px;
}

.task__open{
    min-width: 100%;
    min-height:100%;
    background-color: rgba(252, 248, 248, 0.5);
    overflow:hidden;
    display: none;
    top:0;
    left: 0;
}

.element__info{
    position:absolute;
    left: 5%;
    z-index: 1;
    width: 65%;
    height: 500px;
    padding:10px;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
    top: 100px;
    background: #C3DAF0;
}

.element__task{
    max-width: 100%;
    max-height: 100%;
}

.element__info__block{
    display: flex;
    background: #ccdef0;
    margin: 0 auto 10px;
}

.element__task__area{
    margin: 0;
    background: inherit;
    color: #263849;
    border: none;
    max-width: 100%;
    width: 100%;
    max-height: 60px;
    resize: none;
    outline: none;
}

.element__task__area:focus{
    outline: 2px solid #C10FB3;
}

.title{
    font-weight: 400;
    font-size: 18px;
    min-height: 22px;
    text-align: center;
    padding: 10px;
}

.element__btn{
    display: flex;
    justify-content: space-evenly;
}

#updateElement{
    background: #00EFD1;
}

#readyElement{
    background:#00ACEA;
}

#deleteElement{
    background: #00EFD1;
}

#updateElement, #readyElement, #deleteElement{
    color: #263849;
    font-weight: 400;
    font-size: 20px;
    width: 120px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid transparent;
}

#updateElement:hover, #updateElement:active, #updateElement:focus,
#readyElement:hover, #readyElement:active, #readyElement:focus,
#deleteElement:hover, #deleteElement:active, #deleteElement:focus{
    border-color: #083863;
}

.element__info__more{
    max-width: 100%;
    max-height: 100%;
}

.element__menu{
    display: flex;
    justify-content: space-evenly;
}

.tab{
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid transparent;
}

.tab:hover, .tab:active, .tab:focus{
    border-color: #C10FB3;
}

.link__description.link_tab{
    padding: 0;
    display: block;
}

#title{
    display: flex;
}

.description{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    min-height: 202px;
    padding: 10px;
}

#description, #action{
    display: none;
}

#action{
    height: fit-content;
}

.date{
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

label {
    margin: 0;
}

.date__title{
    margin: 0;
}

.date__and__time__block{
    display: flex;
    justify-content: space-around;
}

.date__and__time{
    position: relative;
    margin-left: 10px;
}

.datetime-local{
    width: fit-content;
    margin: 0;
}

.time{
    width: 110px;
}

.clear {
    position: absolute;
    margin-top: 2px;
    opacity: 0.3;
    z-index: 1;
}

.clear:hover {
    opacity: 1;
}

.clear:before, .clear:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 25px;
    width: 2px;
    background-color: #C10FB3;
}

.clear:before {
    transform: rotate(45deg);
}

.clear:after {
    transform: rotate(-45deg);
}

.date__clear{
    margin-left: 135px;
}

.time__clear{
    margin-left: 60px;
}

.repetition{
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
}

.repetition__block{
    display: flex;
    justify-content: space-between;
}

.repetition__elements{
    display: flex;
}

.repetition__element{
    display: flex;
    margin-left: 30px;
}

.radio{
    width: initial;
    margin: 5px;
    height: 20px;
    margin-right: 10px;
}

.select__block{
    justify-content: space-around;
    margin: 5px;
    display: none;
}

select{
    margin-left: 30px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #263849;
    font-weight: 300;
}

.error{
    color:red;
    outline: 2px solid red;
}

.priority__block{
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.priority__select__block{
    display: flex;
    justify-content: space-around;
    margin: 5px;
}

.create__form{
    position: absolute;
    left: 40%;
    z-index: 1;
    width: 300px;
    margin: 0 auto;
    height: 220px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #000;
    top: 100px;
    background: #C3DAF0;
    display: none;
}

.create__form .title{
    font-size: 20px;
    margin: auto;
    text-align: center;
    display: block;
}

.create_btn{
    text-align: center;
    display: inline-table;
    height: 30px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 60px;
    background-color: #00EFD1;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    margin-bottom: 7px;
    border: 2px solid #083863;
    width: 100%;
}

.create_btn.project{
    background-color: #00ACEA;
}

.create_btn.cancel{
    margin-top: 5px;
}

@media (max-width: 1430px){
    .repetition__element{
        margin-left: 15px;
    }
}

@media (max-width: 1400px){
    .date{
        justify-content: space-between;
    }

    .repetition{
        display: block;
    }

    .repetition__block {
        justify-content: space-around;
    }

    .date__picker{
        max-width: 160px;
    }
}

@media (max-width: 1330px){
    .date{
        display: block;
    }

    .date__title{
        margin: auto;
    }

    .date__and__time__block{
        margin: 5px;
    }
}

@media (max-width: 1300px){
    .date__clear{
        margin-left: 120px;
    }
}

@media (max-width: 1250px){
    label{
        font-size: 18px;
    }

    .datetime-local{
        font-size: 18px;
    }


    .date__picker{
        font-size: 18px;
    }

    .radio {
        height: fit-content;
    }
}

@media (max-width: 1200px){
    .element__info{
        width: 70%;
    }

    .date__picker{
        font-size: 16px;
        max-width: 130px;
    }
}

@media (max-width: 1150px){
    .description{
        font-size: 15px;
        min-height: 210px;
    }
}

@media (max-width: 1130px){
    .header{
        padding: 10px;
    }

    .link__element{
        padding: 0 7px;
    }

    .link__description{
        font-size: 16px;
    }

    .bottom__menu{
        padding: 0;
    }

    .bottom__menu__element{
        left: 3%;
    }

    .task__time{
        right: 70px;
    }

    label{
        font-size: 16px;
    }

    .datetime-local{
        font-size: 16px;
    }

    .clear{
        margin-top: 4px;
    }

    .clear:after, .clear:before {
        height: 20px;
    }

    .date__clear{
        margin-left: 110px;
    }
}

@media (max-width: 1050px){
    .element__info{
        width: 80%;
    }
}

@media (max-width: 1000px){
    .header{
        max-width: 200px;
        flex: none;
    }

    .hello{
        display: none;
    }

    .link__description{
        font-size: 18px;
    }

    .create__form{
        left: 35%;
    }
}

@media (max-width: 970px){
    /* Область описания накрылась */
}

@media (max-width: 930px){
    .task__time{
        display: none;
    }

    .element__info{
        width: 80%;
    }
}

@media (max-width: 900px){
    /* Область заголовка накрылась */
    .element__info__block {
        position: relative;
        height: 100px;
    }

    .element__task__area{
        max-height: 80px;
    }

    .description{
        font-size: 14px;
        min-height: 250px;
    }
}

@media (max-width: 850px){
    .date {
        display: block;
        margin: 5px auto;
    }

    .date__title{
        margin: auto;
    }

    label{
        font-size: 18px;
    }

    .datetime-local {
        width: fit-content;
        margin: auto;
        margin-top: 5px;
        font-size: 17px;
    }

    .time{
        width: 110px;
    }

    .clear{
        top: 5px;
    }
}


@media (max-width: 800px){
    .picker{
        display: inline-block;
    }

    .search{
        margin: auto;
        width: min-content;
    }

    #updateElement, #readyElement, #deleteElement{
        font-size: 18px;
        width: 110px;
    }

    .description{
        font-size: 13px;
    }
}

@media (max-width: 770px){
    .link__description{
        font-size: 17px;
    }

    .task__title{
        font-size: 14px;
    }

    .task__description{
        font-size: 12px;
    }

    .task__time{
        right: 65px;
    }

    .element__info{
        left: 3%;
        width: 94%;
    }
}

@media (max-width: 700px){
    .repetition__element{
        margin-left: 5px;
    }

    label {
        margin: auto;
    }

    .create__form{
        left: 30%;
    }
}

@media (max-width: 650px){
    .repetition__block{
        display: block;
    }

    .repetition__elements {
        margin: 0 auto;
        width: fit-content;
    }

    .repetition__element{
        margin: 0;
    }
    .repetition__element:last-child{
        margin-left: 15px;
    }
}

@media (max-width: 640px){
    .title{
        font-size: 17px;
    }

    .element__btn {
        justify-content: space-between;
    }

    #updateElement, #readyElement, #deleteElement{
        font-size: 17px;
        width: 100px;
    }

    .element__menu{
        justify-content: space-between;
    }
}

@media (max-width: 620px){
    .priority__block{
        display: block;
    }
    .priority__select__block{
        margin: auto;
    }

    .create__form{
        left: 25%;
    }
}

@media (max-width: 600px){
    .title__description{
        font-size: 18px;
    }

    .link__element{
        padding: 0;
    }

    .link__img{
        display: none;
    }

    .link__description{
        padding-left: 5px;
        font-size: 16px;
    }

    .link__add__element{
        display: none;
    }

    .link__add__element.big{
        display: block;
    }

    .bord{
        margin: 0;
    }

    .bord__element__empty{
        margin-left:15px;
    }

    .task{
        margin: 0 10px 5px;
    }

    select {
        margin: 0;
    }
}

@media (max-width: 550px){
    .create__form{
        left: 20%;
    }
}

@media (max-width: 500px){
    .menu__element__title{
        display: none;
    }

    .link__img{
        margin: 0 5px;
        display: inline-block;
        cursor: pointer;
    }

    .link__description{
        display: none;
    }

    label{
        font-size: 16px;
    }

    .datetime-local{
        font-size: 16px;
    }

    .date__picker, .search__title, .picker{
        display: none;
    }

    .search_image{
        display: block;
    }

    .search_image .search__title{
        display: none;
    }

    .img__search{
        width: 28px;
        height: 28px;
    }
}

@media (max-width: 450px){
    .create__form{
        left: 15%;
    }
}

@media (max-width: 425px){
    #updateElement, #readyElement, #deleteElement{
        font-size: 16px;
        width: 90px;
    }
}

@media (max-width: 400px){
    .container{
        display: inline;
    }

    .header{
        display:block;
        border: none;
        max-width: 100%;
        height: fit-content;
        padding: 15px;
        min-height: min-content;
    }

    .menu-burger__header {
        position: relative;
        width: 40px;
        height: 20px;
        display: block;
        margin-left: 10px;
    }

    .menu{
        display: none;
    }

    .search_image .search__title{
        display: flex;
        padding-left: 5px;
        
    }

    .img__search{
        display: none;
    }

    .block__elements{
        display: flex;
    }

    .block__tasks, .block__projects{
        width: 50%;
    }

    .link__img{
        display: none;
    }

    .link__add__element{
        display: flex;
    }

    .menu__element__title{
        display: flex;
    }

    .bottom__menu__element{
        position: relative;
        left: 0%;
        margin: 10px auto;
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        max-width: fit-content;
        bottom: 0%;
        padding: 0;
    }

    .link__description{
        display: block;
    }

    .bord{
        display:block;
    }

    .task {
        margin: 0 3px 5px;
    }

    .task__ready{
        margin-left: 5px;
    }

    .link__task{
        margin: 0 10px;
    }

    .task__more{
        margin-right: 5px;
    }

    .element__info {
        top: 30%;
        left: 1%;
        width: 98%;
    }

    .create__form{
        left: 10%;
    }
}

@media (max-width: 380px){
    .create__form{
        left: 3%;
    }
}