/* файл общих стилей */
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light'), local('Roboto-Light'),
    url('/fonts/Roboto-Light.ttf') format('truetype'),
    url('/fonts/Roboto-Light.woff2') format('woff2'),
    url('/fonts/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Regular'), local('Roboto-Regular'),
    url('/fonts/Roboto-Regular.ttf') format('truetype'),
    url('/fonts/Roboto-Regular.woff2') format('woff2'),
    url('/fonts/Roboto-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold'), local('Roboto-Bold'),
    url('/fonts/Roboto-Bold.ttf') format('truetype'),
    url('/fonts/Roboto-Bold.woff2') format('woff2'),
    url('/fonts/Roboto-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}



html, body, header, div, span, footer, font, img, form, article,
h1, h2, h3, h4, h5, h6, p, a, ol, ul, li, time, figure {
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
	background: white;
	line-height: 1.5;
    color: #263849;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

a{
    text-decoration: none;
    color: #ffffff;
}

form{
    margin: 0 auto;
    max-width: 300px;
}

label, input {
    display: flex;
    font-size: 20px;
}
label{
    margin: 25px auto;
    width: fit-content;
}

input{
    margin: 25px 0;
    max-width: 100%;
    width: 292px;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

textarea{
	font-family: 'Roboto', sans-serif;
}

select{
    margin: 25px 0;
    max-width: 100%;
    width: 292px;
    outline: none;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

option{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

details{
    border-radius: 10px;
    overflow:hidden;
    box-shadow: 0 10px 10px -10px rgb(0 0 0 / 10%);
}

summary {
    display:block;
    font-size:1.5em;
    cursor: pointer;
    position: relative;
}

summary:before {
    top: .6em;
    right: .5em;
    color: transparent;
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTYuNTkgOC41OUwxMiAxMy4xNyA3LjQxIDguNTkgNiAxMGw2IDYgNi02eiIvPjxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz48L3N2Zz4=") no-repeat 50% 50% / 1em 1em;
    width: 1em;
    height: 1em;
    content: "";
    position: absolute;
    transition: transform .5s;
}

details[open] > summary:before {
    transform: scale(1,-1);
}

summary ~ * {
    padding: 0 1em 10px 1.4em;
}

details[open] summary ~ *{
    animation: sweep .5s ease-in-out;
}

@keyframes sweep {
    0%    {opacity: 0;}
    100%  {opacity: 1;}
}

summary:focus {
    outline:0;
}