body{
    background-color: #f4f5f7
}

#dashboard-container{
    max-width: 100%;
    max-height: 100%;
}

header{
    position: fixed;
    top: 0px;
    max-height: 40px;
    min-height: 40px;
    height: 40px;
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    background-color: #C3DAF0;
    border-bottom: 1px solid #353;
    z-index: 1;
}

#header-menu{
    width: inherit;
    height: inherit;
    position: relative;
    display: inline-flex;
    justify-content: space-around;
}

#project-title{
    font-weight: 600;
    letter-spacing: .04em;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 24px;
    white-space: normal;
    margin-left: 10px;
    color: #083863;
}

.link-button{
    color: #263849;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid transparent;
    background: #00EFD1;
    margin: 5px;
    align-self: center;
    width: -webkit-fill-available;
}

.link-button:hover{
    border-color: #083863;
}

#start-btn{
    width: 190px;
}

.window-overlay{
    align-items: flex-start;
    background-color: rgba(0,0,0,.64);
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.window {
    background-color: #f4f5f7;
    border-radius: 5px;
    display: block;
    margin: 48px 0 80px;
    overflow: hidden;
    position: relative;
    width: 500px;
    z-index: 2;
}

.window-wrapper{
    padding: 10px;
}

.icon-close {
    position: absolute;
    margin-left: 90.5%;
    margin-top: 5px;
    opacity: 0.3;
    z-index: 3;
    transition: background-color 85ms,color 85ms;
}

.icon-close:hover {
    opacity: 1;
}

.icon-close:before, .icon-close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: #333;
}

.icon-close:before {
    transform: rotate(45deg);
}
.icon-close:after {
    transform: rotate(-45deg);
}

.task-card-detail-window{
    height: 600px;
    margin-top: -10px;
}

#dashboard-main{
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-content: center;
    flex-direction: column;

    max-width: 100%;
    margin: 50px 5px 0;
}

.card-detail-item-header{
    font-weight: 600;
    letter-spacing: .04em;
    margin-top: 16px;
    display: inline-block;
    margin: 0 8px 4px 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 24px;
    line-height: 26px;
}

.card-detail-action{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

label {
    margin: 10px auto;
    width: fit-content;
}

input {
    margin: 10px auto;
    max-width: 100%;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.btn-invizible{
    display: none;
}

.error{
    border-color: #db147e;
    border-style: double;
    color: #db147e;
}

.container{
    margin: 0 auto;
    align-items: center;
    max-width: 1210px;
    padding: 0 5px;
    max-height: max-content;
    min-height: 900px;
}

.info{
    margin: 0 auto;
    align-items: center;
    padding: 70px 0;
}

.title{
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.description{
    padding-top: 50px;
    font-size: 25px;
}

.information{
    padding: 15px 20px 0;
}

.clients{
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.clients_title{
    padding-bottom: 20px;
}

.img{
    padding-bottom: 20px;
    max-width: 250px;
    max-height: 250px;
}

.footer{
    display: flex;
    position: fixed;

    /* position:absolute; */
    bottom:0px;
    width:100%;

    background: #000;
    padding: 0 5px;
}

.footer_info{
    max-width: 1210px;
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
}

@media(max-width: 900px){
    .title{
        font-size: 25px;
    }

    .description{
        font-size: 20px;
    }

    .clients{
        font-size: 20px;
    }
}

@media(max-width: 600px){
    .description{
        padding: 20px 20px 0;
        font-size: 18px;
    }

    #window{
        width: 420px;
    }

    .icon-close{
        margin-left: 88.5%;
    }
}

@media(max-width: 500px){
    #header{
        max-height: 85px;
        min-height: 85px;
        height: 85px;
    }

    #header-menu{
        flex-direction: column;
    }

    #project-title{
        margin: 5px auto;
    }

    .container{
        max-width: 300px;
        padding: 0;
    }

    .info{
        padding: 40px 0;
        min-width: 300px;
    }

    .title{
        font-size: 20px;
    }

    .footer_info{
        font-size: 18px;
    }
}

@media(max-width: 450px){
    #window{
        width: 315px;
    }

    .icon-close{
        margin-left: 85.5%;
    }

    input {
        max-width: 97%;
    }
}