body{
    background-color: #e3f0fd;
    position: relative;
    background-color: #f4f5f7;
}

#dashboard-container{
    max-width: 100%;
    max-height: 100%;
}

header{
    position: fixed;
    top: 0px;
    max-height: 40px;
    min-height: 40px;
    height: 40px;
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    background-color: #C3DAF0;
    border-bottom: 1px solid #353;
    z-index: 1;
}

#header-menu{
    width: inherit;
    height: inherit;
    position: relative;
    display: inline-flex;
    justify-content: space-between;
}

#links{
    width: min-content;
    height: min-content;
    margin: 5px;
    display: inline-flex;
}

#image{
    max-width: 30px;
    min-width: 30px;
}

#additionally-tasks{
    display: inline-flex;
    height: min-content;
    margin: 9px;
}

#additionally-title{
    max-height: min-content;
    min-height: min-content;
    height: min-content;
    align-self: center;
    font-size: 16px;
    padding-left: 5px;
    color: #083863;
    font-weight: 400;
}

#dashboard-main{
    display: flex;
    flex-wrap: wrap;
    margin-top: 45px;
    white-space: nowrap;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.wrapper{
    flex: auto;
    margin: 0.28%;
    min-height: 100%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    width: 13%;
}

#bord-day{
    background-color: #add3f7;
    border-radius: 3px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    position: relative;
    white-space: normal;
}

#bord-day:first-child{
    margin-left: 5px;
}

#bord-day:last-child{
    margin-right: 5px;
}

#bord-day-title{
    flex: 0 0 auto;
    padding: 10px 8px;
    position: relative;
    min-height: 20px;
    display: flex;
    align-items: baseline;
}

.day-title{
    font-weight: 600;
    margin: 0 0 8px;
    font-size: 18px;
    line-height: 24px;
}

.date-title{
    font-size: 15px;
    margin-left: 20px;
    font-weight: 400;
}

.list-tasks{
    flex: 1 1 auto;
    margin-bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 4px;
    padding: 0 4px;
    z-index: 1;
    min-height: 0;
}

.list-task{
    background-color: #e2edf8;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgb(9 30 66 / 25%);
    cursor: pointer;
    display: block;
    margin-bottom: 8px;
    min-height: 20px;
    position: relative;
    text-decoration: none;
    z-index: 0;
    color: #172b4d;
}

.list-task-details{
    overflow: hidden;
    padding: 6px 8px 2px;
    position: relative;
    z-index: 10;
}

.list-task-label{
    overflow: auto;
    position: relative;
    font-size: 15px;
}

.task-title{
    font-size: 16px;
    display: inline-flex;
    width: 100%;
}

.task-title-time{
    display: block;
    font-weight: 400;
    font-size: 15px;
}

/* * стиль по которому будут искаться все открытие окна */
.window-overlay {
    align-items: flex-start;
    background-color: rgba(0,0,0,.64);
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.window {
    background-color: #f4f5f7;
    border-radius: 5px;
    display: block;
    margin: 48px 0 80px;
    overflow: hidden;
    position: relative;
    width: 768px;
    z-index: 2;
}

.window-wrapper{
    padding: 10px;
}

.icon-close {
    position: absolute;
    margin-left: 93.5%;
    margin-top: 5px;
    opacity: 0.3;
    z-index: 3;
    transition: background-color 85ms,color 85ms;
}

.icon-close:hover {
    opacity: 1;
}

.icon-close:before, .icon-close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: #333;
}

.icon-close:before {
    transform: rotate(45deg);
}
.icon-close:after {
    transform: rotate(-45deg);
}

.card-detail-window{
    height: 600px;
    margin-top: -10px;
}

.window-detail-header{
    margin: 12px 35px 8px 15px;
    min-height: 32px;
    position: relative;
    z-index: 1;
}

.window-title {
    margin: -10px 0 0;
}

textarea {
    outline: none;
    border: 2px solid transparent;
    display: block;
    background: transparent;
    border-radius: 3px;
    box-shadow: none;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    margin: -4px -8px;
    min-height: 24px;
    padding: 4px 8px;
    resize: none;
    overflow: hidden;
    overflow-wrap: break-word;
}

.card-detail-header{
    width: 99%;
    height: 45px;
}

.card-detail-header:focus, .card-detail-description:focus{
    border-color: #1e6acc;
}

.window-main-col {
    min-height: 24px;
    padding: 0 16px;
    position: relative;
    z-index: 0;
}

.card-detail-item{
    display: block;
    margin: 10px 0;
    max-width: 100%;
}

.card-detail-item-header{
    font-size: 18px;
    font-weight: 600;
    letter-spacing: .04em;
    line-height: 16px;
    margin-top: 16px;
    display: inline-block;
    line-height: 20px;
    margin: 0 8px 4px 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.link-button{
    color: #263849;
    font-weight: 400;
    font-size: 20px;
    width: 120px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid transparent;
    background: #00EFD1;
    margin: 0 5px;
}

.link-button:hover{
    border-color: #083863;
}

.card-detail-action, .card-detail-due-date, .card-detail-repeat{
    display: flex;
}

.datetime-local{
    width: max-content;
    margin: 0 5px;
}

.select{
    display: none;
    width: max-content;
    margin: 0 5px;
}

.btn-invizible{
    display: none;
}

.card-detail-description{
    width: 100%;
    height: 220px;
    font-weight: 400;
    font-size: 18px;
    overflow: auto;
}

.error{
    border-color: #db147e;
}

#create{
    width: 310px;
    height: 270px;
}

.icon-close.create{
    margin-left: 85%;
}

.card-detail-item-header.create-title{
    font-size: 24px;
    white-space: normal;
    line-height: 26px;
    margin-top: -10px;
}

.card-detail-action.create{
    display: grid;
}

.link-button.create-btn{
    width: 100%;
    margin: 10px 0;
}

.no-clik{
    cursor: default;
    background: rgb(153, 255, 187);
    background-color: #00EFD1;
}

.center{
    text-align: center;
}

#para, #auditoria{
    display: inline-flex;
    margin-left: 20px;
}

#predmet, #teacher{
    display: block;
    text-align: center;
}


@media(max-width: 2500px){
    .wrapper{
        margin: 0.25%;
    }
}

@media(max-width: 1800px){
    .wrapper{
        width: 20%;
    }
}

@media(max-width: 1100px){
    .wrapper{
        width: 25%;
        margin: 0.5%;
    }
}

@media(max-width: 850px){
    .wrapper{
        width: 33%;
    }

    .window {
        width: 95%;
        height: 80%;
    }

    .icon-close{
        margin-left: 91.5%;
    }

    .card-detail-header {
        height: 75px;
        font-size: 19px;
        width: 95%;
    }

    .card-detail-description {
        height: 250px;
        font-weight: 300;
        font-size: 17px;
    }
}

@media(max-width: 650px){
    .card-detail-description{
        height: 375px;
    }
}

@media(max-width: 600px){
    #additionally-title{
        display: none;
    }
}

@media(max-width: 550px){
    .wrapper{
        width: 50%;
        margin: 1%;
    }

    .window {
        height: 85%;
    }

    .icon-close{
        margin-left: 89.5%;
    }

    /* * тут проверить стили кнопок, но сперва нужны скрипты */
    .card-detail-action, .card-detail-due-date, .card-detail-repeat{
        display: block;
        text-align: center;
    }

    .card-detail-item-header{
        overflow: initial;
    }

    .datetime-local{
        display: inline-flex;
        margin: 5px;
    }

    .link-button{
        display: inline-block;
        margin: 5px;
    }

    .card-detail-repeat{
        align-items: center;
    }

    .select {
        height: min-content;
        margin: 5px;
    }

    .btn-invizible {
        display: none;
    }
}

@media(max-width: 500px){
    .window {
        height: 100%;
    }

    .window-main-col{
        padding: 0 10px;
    }

    .card-detail-item-header{
        font-size: 16px;
    }

    .card-detail-description{
        font-size: 16px;
    }
}

@media(max-width: 450px){
    .window-wrapper {
        padding: 5px;
    }

    .window {
        height: 120%;
    }

    .window-main-col{
        padding: 0 5px;
    }

    .icon-close{
        margin-left: 87.5%;
    }

    .card-detail-header {
        height: 120px;
        font-size: 16px;
    }

    .card-detail-description{
        height: 480px;
        font-size: 15px;
        overflow: hidden;
        font-weight: 300;
        width: 93%;
        margin-left: 0px;
    }

    @media (max-height: 800px){
        .window {
            height: 125%;
        }

        .card-detail-description{
            height: 360px;
        }
    }
}

@media(max-width: 400px){
    .icon-close{
        margin-left: 86.5%;
    }

    .window-main-col{
        padding: 0;
    }

    @media (max-height: 850px){
        .window {
            height: 115%;
        }

        .card-detail-description{
            height: 385px;
        }
    }

    @media (max-height: 700px){
        .window {
            height: 140%;
        }
    }
}

@media(max-width: 350px){
    .icon-close{
        margin-left: 84.5%;
    }

    @media (max-height: 700px){
        .window {
            height: 175%;
        }

        .card-detail-description{
            height: 475px;
        }
    }
}