#user-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 650px;
    padding: 32px;
    position: relative;
}

#user-header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

#user-name{
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    color: #0c3953;
    margin-right: 10px;
}

#user-code{
    font-size: 12px;
    line-height: 20px;
    color: #5e6c84;
}

nav{
    position: relative;
    text-align: center;
}

ul{
    display: inline-flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

li{
    border-bottom: 0;
    border-radius: 3px 3px 0 0;
    display: inline-block;
    font-weight: 700;
    margin: 2px 2px 0;
    padding: 8px 20px;
    text-decoration: none;
    box-sizing: border-box;
}

#link{
    font-size: 18px;
    color: #6200ff;
}

#link::after{
    background-color: rgb(250, 4, 4);
    display: block;
    content: '';
    height: 2px;
    width: 0%;
    transition: width .3s ease-in-out;
}

#link:focus{
    color: rgb(250, 4, 4);
}

#link:hover:after,
#link:focus:after {
    width: 100%;
}

#content{
    margin: 0 auto;
    max-width: 900px;
    padding: 32px;
    position: relative;
}

.tab-container{
    max-width: 90%;
    flex-direction: column;
    margin: auto;
    display: none;
}

.visible{
    display: flex;
}

form{
    margin: 0;
    max-width: initial;
}

h1{
    color: #172b4d;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -.01em;
    line-height: 28px;
    margin-top: 40px;
    margin-top: 0;
    margin-bottom: 10px;
}

#window-module {
    clear: both;
    margin-bottom: 24px;
    position: relative;
}

#window-module-title {
    padding: 8px 0;
    position: relative;
    margin: 0 0 4px 40px;
    border-bottom: 1px solid rgba(9,30,66,.13);
}

#module-title{
    display: inline-block;
    width: auto;
    margin: 0;
    min-height: 18px;
    min-width: 40px;
}

#module-element{
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: space-evenly;
}

#title-label{
    font-size: 18px;
}

.input{
    max-width: max-content;
    margin: 0;
    margin-left: 50px;
}

.select{
    margin: 0;
    margin-left: 15px;
    width: 235px;
    display: block;
}

.center-firstName{
    margin-left: 90px;
}

.center-userCode{
    margin-left: -30px;
}

.center-selectRole{
    margin-left: 80px;
}

.center-group{
    margin-left: 65px;
}

.center-password{
    margin-left: -5px;
}

.center-repeatPassword{
    margin-left: -95px;
}

.error{
    border-style: double;
    color: red;
    border-color: red;
}

.btn-link{
    position: relative;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    box-sizing: border-box;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    padding: 6px 12px;
    text-decoration: none;
    border: none;
    color: #fff;
    display: block;
    width: 100%;
    border: 2px solid transparent;
    border-radius: 10px;
    background-color: rgb(45, 180, 27);
}

#return{
    color: #263849;
    background-color: #00EFD1;
}

#exit{
    background-color: #e61f1f;
    margin-top: 30px;
}

.btn-link:hover{
    border-color: #083863;
}

#search-input{
    margin: 0;
}

#search{
    width: 100px;
}

#search-invitations{
    width: 100%;
    height: fit-content;
    max-height: 112px;
    min-height: 31px;
    border: 2px double transparent;
    overflow-y: overlay;
    /* scroll */
}

#search-result{
    width: 100%;
    height: 31px;
    border: 2px double transparent;
}

#list-friends{
    width: 100%;
    height: fit-content;
    /* max-height: 100px;
    min-height: 31px; */
    border: 2px double #1e6acc;
}

@media(max-width: 850px){
    #module-element{
        display: block;
        margin: 10px auto;
    }

    #title-label{
        display: block;
        margin: 5px;
        text-align: center;
    }

    .input{
        display: block;
        margin-left: 0px;
        margin: auto;
    }

    .select{
        margin: 0 auto;
        max-width: 292px;
    }

    #search-input{
        margin: 5px auto;
    }

    #search{
        margin: 0 auto;
    }
}

@media(max-width: 400px){
    .tab-container{
        margin-left: 0px;
        max-width: 100%;
    }

    ul{
        display: block;
    }

    h1{
        font-size: 22px;
        text-align: center;
    }

    #window-module-title {
        margin: 0;
    }
}