body{
    color: #263849;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    background-color: #ccdef0;
    background-image: radial-gradient(circle 450px at center, #ffffff 0%, #ccdef0 100%);
}

.header{
    background: #000;
    height: 50px;
}

.navbar{
    margin: 0 auto;
    padding: 0 5px;
    align-items: center;
    max-width: 1210px;
    justify-content: space-between;
    display: flex;
    height: inherit;
    font-size: 20px;
}

.logo{
    color: #ffffff;
    font-weight: 400;
}

.header-button {
    display: inline-block;
    height: 30px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 60px;
    background-color: rgb(45, 180, 27);
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
}

.b-popup{
    min-width: 100%;
    min-height:100%;
    background-color: rgba(252, 248, 248, 0.5);
    overflow:hidden;
    position:fixed;
    display: none;
    top:0;
    left: 0;
}

.authorization{
    overflow:hidden;
}

.b-popup .registration, .b-popup .authorization{
    margin:70px auto 0px auto;
    width:500px;
    height: 500px;
    padding:10px;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
    top: 100px;
}

.registration, .authorization{
    background-image: radial-gradient(circle 450px at center, #ffffff 0%, #ccdef0 100%);
}

.reg_title, .auth_title{
    max-width: fit-content;
    color: #263849;
    margin: 0 auto;
    font-size: 35px;
    font-weight: 400;
}

.close {
    position: absolute;
    margin-left: 435px;
    margin-top: -45px;
    opacity: 0.3;
}

.close:hover {
    opacity: 1;
}
.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}

form{
    margin: 0 auto;
    max-width: 300px;   
}

label, input {
    margin: 25px auto;
    display: flex;
    font-size: 20px;
}
label{
    width: fit-content;
}

input{
    margin: 25px 0;
    max-width: 100%;
    width: 292px;
    outline: none;
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 300;
}

.btn_input{
    width: 100%;
    display: block;
    height: 30px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 60px;
    background-color: rgb(45, 180, 27);
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
}

.btn_update{
    display: block;
    height: 30px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 60px;
    background-color: rgb(27, 106, 180);
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    max-width: fit-content;
    margin: 20px auto;
}

.container{
    margin: 0 auto;
    align-items: center;
    max-width: 1210px;
    padding: 0 5px;
    max-height: max-content;
}

.info{
    margin: 0 auto;
    align-items: center;
    max-width: 630px;
    padding: 70px 0;
}

.title{
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.description{
    padding-top: 50px;
    font-size: 25px;
}

.information{
    padding: 15px 0;
}

.clients{
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.clients_title{
    padding-bottom: 20px;
}

.img{
    padding-bottom: 20px;
    max-width: 250px;
    max-height: 250px;
}

.footer{
    /* position:absolute; */
    bottom:0px;
    width:100%;

    background: #000;
    padding: 0 5px;
}

.footer_info{
    max-width: 1210px;
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
}


@media(max-width: 1230px){
    .navbar{
        min-width: 900px;
    }
}

@media(max-width: 900px){
    .navbar{
        min-width: 500px;
    }

    .b-popup .registration, .b-popup .authorization{
        /* margin:40px auto 0px auto; */
        width:400px;
        height: 450px;
    }

    .close{
        margin-left: 340px;
    }

    .info{
        max-width: 430px;
    }

    .title{
        font-size: 25px;
    }
    
    .description{
        font-size: 20px;
    }

    .clients{
        font-size: 20px;
    }
}

@media(max-width: 500px){
    .header{
        height: 85px;
    }

    .navbar{
        min-width: 320px;
        max-width: 320px;
        margin: 0 auto;
        display: block;
        text-align: center;
    }

    .b-popup{
        /* top:85px; */
    }

    .b-popup .registration, .b-popup .authorization{
        margin:100px auto 0px auto;
        width:300px;
        height: 380px;
    }

    .reg_title, .auth_title{
        max-width: fit-content;
        color: #263849;
        margin: 0 auto;
        font-size: 25px;
        font-weight: 400;
    }

    .close{
        margin-left: 105px;
        margin-top: -35px;
    }

    form{
        max-width: 100%;
    }

    label, input {
        margin: 15px auto;
        display: flex;
        font-size: 20px;
    }

    label{
        width: fit-content;
    }
    
    input{
        margin: 15px auto;
        max-width: 90%;
        outline: none;
        font-size: 20px;
        font-family: 'Roboto';
        font-weight: 300;
        /* border-color: inherit; */
    }

    .btn_update{
        height: 60px;
    }

    .info{
        padding: 40px 0;
    }

    .logo{
        margin: 0 auto;
        padding: 5px 0;
    }

    .container{
        max-width: 300px;
    }

    .info{
        min-width: 300px;
    }

    .title{
        font-size: 20px;
    }
    
    .description{
        padding: 20px 20px 0;
        font-size: 18px;
    }

    .footer_info{
        font-size: 18px;
    }
}



/* @media(max-height: 930px){
    .b-popup{
        position: absolute;
        top: 85px;
        max-height: 100%;
        min-height: 97%;
    }
}

@media(max-height: 900px){
    .img {
        margin-bottom: 5px;
        max-width: 225px;
        max-height: 245px;
    }

    .b-popup{
        min-height: 100%;
    }

    .container{
        margin-bottom: -12px;
    }

    .footer{
        position:relative;
    }
}

@media(max-height: 800px){
    .b-popup{
        min-height: 114%;
    }
}

@media(max-height: 700px){
    .b-popup{
        min-height: 126%;
    }
}

@media(max-height: 600px){
    .b-popup{
        min-height: 140%;
    }

    .info{
        padding: 20px 0;
    }

    .description{
        padding: 20px 20px 0;
    }

    .footer{
        max-width: 100%;
        position:relative;
        /* bottom:-322px; */
        /*width:100%;
    }
} */