<a href="/personPage.html" id="links">
    <img src="/img/user.svg" alt="Пользователь" id="image">
    <span id="additionally-title">Пользователь</span>
</a>

<a href="#" id="links">
    <img src="/img/activity.svg" alt="Активность" id="image">
    <span id="additionally-title">Активность</span>
</a>

<a href="javascript:createForm()" id="links">
    <img src="/img/add.png" alt="Создать" id="image">
    <span id="additionally-title">Создать</span>
</a>