<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/styleDashboard.css">

    <script src="/js/library/jquery-3.5.1.min.js" defer></script>
    <script src="/js/cookies/cookies.js" defer></script>
    <script src="/js/classes/Bord.js" defer></script>
    <script src="/js/classes/Tasks.js" defer></script>
    <script src="/js/classes/Task.js" defer></script>
    <script src="/js/classes/Events.js" defer></script>
    <script src="/js/classes/Event.js" defer></script>
    <script src="/js/mainFunctionDashboard.js" defer></script>
    <script src="/js/dashboard.js" defer></script>
    <script src="/js/validation.js" defer></script>
</head>

<body>
    <div id="dashboard-container">
        <header id="header">
            <div id="header-menu">
                {{> menu}}

                <a href="/additionally" id="links">
                    <img src="/img/more.svg" alt="Дополнительное" id="image">
                    <span id="additionally-title">Дополнительное</span>
                </a>
            </div>
        </header>

        <div id="dashboard-main">

        </div>
    </div>
</body>

</html>