<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/styleDashbord.css">
    <title>Document</title>
    <script src="/js/dashbordHandler.js" defer></script>
</head>
<body>
    <div class="container">

        <div class="header">

            <div class="hello">
                <h1>Здравствуйте, {{user}}!</h1>
            </div>

            <nav class="menu">
                <div class="menu__element">
                    <a class="link__element" href="javascript:checkTasks()">
                        <img class="link__img" src="/img/inbox.png" alt="Входящие">
                        <span class="link__description">
                            Входящие
                        </span>
                    </a>
                </div>

                <div class="menu__element">
                    <a class="link__element" href="#">
                        <img class="link__img" src="/img/today.png" alt="Сегодня">
                        <span class="link__description">
                            Сегодня
                        </span>
                    </a>
                </div>

                <div class="menu__element">
                    <a class="link__element" href="#">
                        <img class="link__img" src="/img/calendar.png" alt="Планируемые">
                        <span class="link__description">
                            Предстоящие
                        </span>
                    </a>
                </div>

                <img src="https://img.icons8.com/nolan/64/add-image.png" style="display: none;"/>
            </nav>
            
        
        </div>

        <div class="bord">

            <div class="title__bord">
                <h1>Сегодня</h1>
            </div>

            <div>
                text
            </div>
        </div>

        {{!-- {{> menu}} --}}
    </div>
</body>
</html>