<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashbord</title>

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/styleDashbord.css">

    <script src="/js/library/jquery-3.5.1.min.js" defer></script>
    <script src="/js/cookies/cookies.js" defer></script>
    <script src="/js/dashbordHandler.js" defer></script>
    <script src="/js/dashbordElements.js" defer></script>
</head>

<body>
    <div class="container">

        <div class="header">

            <div class="hello">
                <h1>Здравствуйте, {{user}}!</h1>
            </div>

            <nav class="menu">
                <div class="menu__element">
                    <a class="link__element" href="javascript:inbox()">
                        <img class="link__img" src="/img/pac1/inbox.png" alt="Входящие">
                        <span class="link__description">
                            Входящие
                        </span>
                    </a>
                </div>

                <div class="menu__element">
                    <a class="link__element" href="javascript:today()">
                        <img class="link__img" src="/img/pac1/today.png" alt="Сегодня">
                        <span class="link__description">
                            Сегодня
                        </span>
                    </a>
                </div>

                <div class="menu__element">
                    <a class="link__element" href="javascript:upcoming()">
                        <img class="link__img" src="/img/pac1/calendar.png" alt="Планируемые">
                        <span class="link__description">
                            Предстоящие
                        </span>
                    </a>
                </div>
            </nav>

            <nav class="menu bottom__menu">
                <div class="bottom__menu__element">
                    <a class="link__element" href="javascript:settings()">
                        <img class="link__img" src="/img/pac1/settings.png" alt="Настройки">
                        <span class="link__description">
                            Настройки
                        </span>
                    </a>
                </div>
            </nav>

        </div>

        <div class="bord">

            <div class="title__bord">
                <h1 class="inbox">Входящие</h1>
                <h1 class="today">Сегодня</h1>
                <h1 class="upcoming">Предстоящие</h1>
            </div>

            <section class="bord__tasks">
                <ul class="bord__list">

                    {{!-- <li>
                        <article class="task">
                            <div class="row">
                                <a class="task__ready" href="#">
                                    <img class="link__element__img" src="/img/pac1/ready1.png" alt="Выполнено">
                                </a>
                                <div class="task__wrapper">
                                    <a class="link__task" href="#">
                                        <header class="task__header">
                                            <h3 class="task__title">
                                                sdashdjash;djkahsdjk;as;ahsdjas;d asj;dh;jasdh;ajsdha;js
                                                dhajsdh;ajsdha;shda;sjdhasjdhajsasdasda
                                                sdasdssdasdasdasdasdasdahgsdglashdgasljkdhasjkdh ajskdhajksdhajsdhaj
                                                skdhasjkdhas;kdjas; da;skdhasj;djs;daksldj jaksdhjas
                                            </h3>
                                            <span class="task__description">
                                                Описаниеdasdasdas dasdasdssdasdasdasdasdasdahgsdgl
                                                ashdgasljkdhasjkdhajskdh ajksdhajsdhajskdhasjkdhas;k djas;da;skdhasj;dj
                                                s;daksldjj aksdhjashdjkasdhjkasdhjas;dh;ajsdhas;j kdas;kdjaksjdask'jd
                                            </span>
                                        </header>

                                    </a>
                                    <a class="task__more" href="#">
                                        <img class="link__element__img" src="/img/pac1/more1.svg" alt="Дополнительно">
                                    </a>
                                </div>
                            </div>
                        </article>
                    </li> --}}

                </ul>
            </section>
        </div>

        {{!-- <time class="task-author__add task__date">11 января</time> --}}
        {{!-- <div class="task-post">
            <p class="task-post__text">Сообщение Марии Lorem ipsum dolor sit amet, consectetur.</p>
            <figure class="task-post__image">
                <img src="#" alt="Сообщение Марии Lorem ipsum dolor sit amet, consectetur.">
            </figure>
        </div> --}}

        {{!-- {{> menu}} --}}
    </div>
</body>

</html>